
body {background-color:beige;font:10pt verdana}

td {font:10pt verdana}
th {font:700 10pt verdana}
a  {color:maroon;font:700 10pt verdana}
h2 {color:maroon;font:700 16pt arial;background-color:navy;color:white}
h4 {color:maroon;font:700 11pt verdana}
h3 {color:navy;font:700 14pt verdana}

